html {
    background-color: black;

}
body {
    font-family: arial;
    color: white;
    
}

body .foto-lucio {
    width: 300px;
    height: 500px;
    border-radius: 10%;
    margin-left: 40%;
}

body .spooky {
    width: 500px;
    height: 400px;
    align-items: center;
}

header h1 {
    margin: auto;
}

header {
    background-color: black;
}