html {
    background-color: black;

}
body {
    font-family: arial;
    color: white;
    
}

body .foto-lucio {
    width: 300px;
    height: 500px;
    border-radius: 10%;
    margin-left: 40%;
    border-style:inset;
    border-color: red;
}

body .spooky {
    width: 500px;
    height: 400px;
    margin-left: 32%;
    border-radius: 40%;
    border-style: groove;
    margin-bottom: 100%;    

}

header {
    background-color: black;
    text-align: center;
}